<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Holiday Decoration Club</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <!-- stub is shown using the name of the route -->
{#            <a class="nav-link" href="/">Database</a>#}
            <a class="nav-link" href="/newsletter">Newsletter</a>
            <a class="nav-link" href="/feedback">Feedback</a>
            <a class="nav-link" href="/suggest">Decor Suggestions</a>
{#            <a class="nav-link" href="/holidaydec">Holiday Decor Reddit</a>#}
            <a class="nav-link" href="/calendar2">Calendar</a>
            <a class="nav-link" href="/event">CalEvents</a>
            <a class="nav-link" href="/ideas">Ideas</a>
            <a class="nav-link" href={{ url_for('crud.crud') }}>CRUD</a>
            {% if current_user.name|length != 0 %}
                <a class="nav-link" href={{ url_for('crud.logout') }}>Logout</a>
            {% else %}
                <a class="nav-link" href={{ url_for('crud.crud_login') }}>Login</a>
            {% endif %}
{#            <a class="nav-link" href="/holidaydecor/search">Search</a>#}
        </div>
    </div>
</nav>