{% extends "layouts/base.html" %}
<!-- Custom block for standardizing Project Data-->
{% block links %}
    <div class="col-3">
        <a href="{{ overview }}" class="btn">Overview</a>
    </div>

    <div class="col-3">
        <a href="{{ scrumboard }}" class="btn">Scrum Board</a>
    </div>

    <div class="col-3">
        <a href="{{ repo }}" class="btn">Repository</a>
    </div>

    <div class="col-3">
        <a href="{{ authors }}" class="btn">Authors</a>
    </div>
{% endblock %}

</html>